root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{csproj,slnx,props,targets,xml}]
indent_size = 2

[*.{json,yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.{razor,cshtml}]
indent_size = 4

[*.cs]
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_indent_case_contents = true
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_prefer_primary_constructors = true:suggestion
dotnet_diagnostic.PRM001.severity = warning
dotnet_diagnostic.PRM002.severity = warning
dotnet_diagnostic.PRM003.severity = warning
dotnet_diagnostic.PRM004.severity = suggestion

[**/Migrations/*.cs]
dotnet_diagnostic.CA1861.severity = none
